

#summary {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 240px;
    border: 1px solid #aaa;
    border-radius: 4px;
    background: rgba(255,255,255,0);
    padding: 10px;
}

#Stats-output {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 240px;
    padding: 10px;
}