html, body {
    margin: 0px;
    height: 100%;
    font-family: Microsoft Yahei;
}

.round {
    -moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
}

.selected {
    color: white;
    background-color: #E03C47;  /*!important */
}

.hand_cursor {
    cursor: Pointer;
}

.btn-w3r {
    width: 26px;
    height: 26px;
    padding: 0px;
    border: 0px;
    margin: 3px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50% !important;
    color: white;
    background: black; /* Old browsers */
    /*background: -moz-linear-gradient(top, #cb60b3 0%, #ad1283 50%, #de47ac 100%); /!* FF3.6+ *!/*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cb60b3), color-stop(50%, #ad1283), color-stop(100%, #de47ac));*/
    /*background : -webkit-linear-gradient(top, #cb60b3 0%, #ad1283 50%, #de47ac 100%); /!* Chrome10+,Safari5.1+ *!/*/
    /*background: -o-linear-gradient(top, #cb60b3 0%, #ad1283 50%, #de47ac 100%); /!* Opera 11.10+ *!/*/
    /*background: -ms-linear-gradient(top, #cb60b3 0%, #ad1283 50%, #de47ac 100%); /!* IE10+ *!/*/
    /*background: linear-gradient(to bottom, #cb60b3 0%, #ad1283 50%, #de47ac 100%); /!* W3C *!/*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cb60b3', endColorstr='#de47ac', GradientType=0); /!* IE6-9 *!/*/
}

.btn-w3r:hover {
    background: red;
}