#div_btn {
    position: absolute;
    top: 10px;
    left: 15px;
}

#tbl_floorlist {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 50px;
    /*height: 150px;*/
    /*border: 1px solid #aaa;*/
    border-radius: 4px;
    /*background: rgba(255,255,255,0.6);*/
}

#img_bldgMode{
    background: url("../imgs/floor_num/mode_building.png") no-repeat;
}

#img_bldgMode:hover {
    background: url("../imgs/floor_num/mode_building_select.png") no-repeat;
}